import * as model from 'a2r/model';
import capitalize from '../tools/capitalize';

/**
 * Sample ping method
 * @returns {Promise<model.PingResult>}
 */
const ping = async (): Promise<model.PingResult> => ({ result: capitalize('pong') });

export default ping;
