import { PingResult } from 'model';
import capitalize from '../tools/capitalize';

/**
 * Sample ping method
 * @returns {Promise<PingResult>}
 */
const ping = async (): Promise<PingResult> => ({ result: capitalize('pong') });

export default ping;
