import { applySettings, Settings } from 'a2r';

interface ProjectSettings extends Settings {
  mySettingKey: string;
}

const settings: ProjectSettings = {
  mySettingKey: 'mySettingValue',
  port: 9000,
};

export default applySettings<ProjectSettings>(settings);
