import { A2RSettings } from 'a2r/model';

interface ProjectSettings extends A2RSettings {};

const settings: ProjectSettings = {
  apiDestinationPaths: [],
  modelDestinationPaths: [],
};

export default settings;
