import { registerGlobal } from 'a2r';

export interface GlobalProps {
  test: string;
}

const provider = (): GlobalProps => {
  return {
    test: 'test',
  };
}

registerGlobal<GlobalProps>(provider);
