import React from 'a2r/react';
import Head from 'a2r/head';

import api from 'a2r/api';

export default (): JSX.Element => {
  React.useEffect(() => {
    api.ping().then((res) => {
      console.log('Ping result: ', res);
    })
  }, []);
  return (
    <React.Fragment>
      <Head>
        <title>Welcome to A2R!</title>
      </Head>
      <h1>Welcome to the A2R Framework</h1>
      <img src="/logo-principal.svg" alt="A2R Framework" />
    </React.Fragment>
  );
}
